<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Customer Credit Check</title>
</head>
<body>
    <h1>Customer Credit Check</h1>
    <table>
        <th class="view-item">Username</th>
        <th class="view-item">Rating</th>
        <th class="view-item">Total Credit</th>
        <th class="view-item">Credit Allocated</th>
        <% customerCreditCheck.forEach(customer => {%>
            <tr>
                <td class="view-item"><%= customer.customer_name %></td>
                <td class="view-item"><%= customer.rating %></td>
                <td class="view-item"><%= customer.current_credit %></td>
                <td class="view-item"><%= customer.credit_already_allocated %></td>
            </tr>
        <% }) %>
    </table>
    <div class="row">
        <a href="/views" class="long button">Back</a>
    </div>
</body>
</html>