<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Views</title>
</head>
<body>
    <h1>Views</h1>
    <div class="row">
        <a href="/views/role-distribution" class="button">Role Distribution</a>
        <a href="/views/customer-credit-check" class="button">Customer Credit Check</a>
    </div>
    <div class="row">
        <a href="/views/drone-traffic-control" class="button">Drone Traffic Control</a>
        <a href="/views/most-popular-products" class="button">Most Popular Products</a>
    </div>
    <div class="row">
        <a href="/views/drone-pilot-roster" class="button">Drone Pilot Roster</a>
        <a href="/views/store-sales-overview" class="button">Store Sales Overview</a>
    </div>
    <div class="row">
        <a href="/views/orders-in-progress" class="button">Orders In Progress</a>
        <a href="/" class="button">Back</a>
    </div>
</body>
</html>