<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="button">Customers</div>
        <div class="button">Products</div>
    </div>
    <div class="row">
        <div class="button">Drones</div>
        <div class="button">Pilots</div>
    </div>
    <div class="row">
        <div class="button">Orders</div>
        <div class="button">Views</div>
    </div>
</body>
</html>