<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
</head>
<body>
    <h1>Home</h1>
    <div class="row">
        <a href="/customers" class="button">Customers</a>
        <a href="/products" class="button">Products</a>
    </div>
    <div class="row">
        <a href="/drones" class="button">Drones</a>
        <a href="/drone-pilots" class="button">Drone Pilots</a>
    </div>
    <div class="row">
        <a href="/orders" class="button">Orders</a>
        <a href="/views" class="button">Views</a>
    </div>
</body>
</html>