<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add Drone Pilot</title>
</head>
<body>
    <h1>Add Drone Pilot</h1>
    <form action="/drone-pilots/add-drone-pilot" method="POST">
        <table>
            <tr>
                <td class="form-label"><label for="username">Username:</label></td>
                <td class="form-input"><input type="text" id="username" name="uname" maxlength="40" required></td>
                
                <td class="form-label"><label for="first-name">First Name:</label></td>
                <td class="form-input"><input type="text" id="first-name" name="firstName" maxlength="100" required></td>
            </tr>
            <tr>
                <td class="form-label"><label for="last-name">Last Name:</label></td>
                <td class="form-input"><input type="text" id="last-name" name="lastName" maxlength="100" required></td>
                
                <td class="form-label"><label for="address">Address:</label></td>
                <td class="form-input"><input type="text" id="address" name="address" maxlength="500" required></td>
            </tr>
            <tr>
                <td class="form-label"><label for="birthdate">Birthdate:</label></td>
                <td class="form-input"><input type="date" id="birthdate" name="birthdate"></td>
                
                <td class="form-label"><label for="tax-id">Tax ID:</label></td>
                <td class="form-input"><input type="text" id="tax-id" name="taxID" maxlength="40" required></td>
            </tr>
            <tr>
                <td class="form-label"><label for="service">Service Length:</label></td>
                <td class="form-input"><input type="number" id="service" name="service" min="0" required></td>
            
                <td class="form-label"><label for="salary">Salary:</label></td>
                <td class="form-input"><input type="number" id="salary" name="salary" min="0" required></td>
            </tr>
            <tr>
                <td class="form-label"><label for="license-id">License ID:</label></td>
                <td class="form-input"><input type="text" id="license-id" name="licenseID" maxlength="40" required></td>
            
                <td class="form-label"><label for="experience">Pilot Experience:</label></td>
                <td class="form-input"><input type="number" id="experience" name="experience" min="0" required></td>
            </tr>
        </table>
        <div class="row">
            <button class="submit button">Submit</button>
            <a href="/drone-pilots" class="button">Back</a>
        </div>
    </form>
</body>
</html>