<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Drone Pilots</title>
</head>
<body>
    <h1>Drone Pilots</h1>
    <div class="row">
        <a href="/drone-pilots/add-drone-pilot" class="button">Add Drone Pilot</a>
        <a href="/drone-pilots/swap-drone-control" class="button">Swap Drone Control</a>
    </div>
    <div class="row">
        <a href="/drone-pilots/remove-drone-pilot" class="button">Remove Drone Pilot</a>
        <a href="/" class="button">Back</a>
    </div>
</body>
</html>