<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Remove Drone Pilot</title>
</head>
<body>
    <h1>Remove Drone Pilot</h1>
    <form action="/drone-pilots/remove-drone-pilot" method="POST">
        <table>
            <tr>
                <td class="form-label"><label for="username">Username:</label></td>
                <td class="form-input"><input type="text" id="username" name="uname" maxlength="40" required></td>
                
                <td class="form-label"\>
                <td class="form-input"\>
            </tr>
        </table>
        <div class="row">
            <button class="submit button">Submit</button>
            <a href="/drone-pilots" class="button">Back</a>
        </div>
    </form>
</body>
</html>