<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <a href="" class="button">Begin Order</a>
        <a href="" class="button">Add Order Line</a>
    </div>
    <div class="row">
        <a href="" class="button">Deliver Order</a>
        <a href="" class="button">Cancel Order</a>
    </div>
    <div class="row">
        <a href="/" class="long button">Back</a>
    </div>
</body>
</html>