<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Orders</title>
</head>
<body>
    <h1>Orders</h1>
    <div class="row">
        <a href="/orders/begin-order" class="button">Begin Order</a>
        <a href="/orders/add-order-line" class="button">Add Order Line</a>
    </div>
    <div class="row">
        <a href="/orders/deliver-order" class="button">Deliver Order</a>
        <a href="/orders/cancel-order" class="button">Cancel Order</a>
    </div>
    <div class="row">
        <a href="/" class="long button">Back</a>
    </div>
</body>
</html>