<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Drones</title>
</head>
<body>
    <h1>Drones</h1>
    <div class="row">
        <a href="/drones/add-drone" class="button">Add Drone</a>
        <a href="/drones/repair-refuel-drone" class="button">Repair and Refuel Drone</a>
    </div>
    <div class="row">
        <a href="drones/remove-drone" class="button">Remove Drone</a>
        <a href="/" class="button">Back</a>
    </div>
</body>
</html>