<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form action="/products/add-product" method="POST">
        <table>
            <tr>
                <td class="form-label"><label for="barcode">Barcode:</label></td>
                <td class="form-input"><input type="text" id="barcode" name="barcode" maxlength="40" required></td>
                
                <td class="form-label"><label for="product-name">Product Name:</label></td>
                <td class="form-input"><input type="text" id="product-name" name="pname" maxlength="100" required></td>
            </tr>
            <tr>
                <td class="form-label"><label for="weight">Weight:</label></td>
                <td class="form-input"><input type="number" id="weight" name="weight" min="0" required></td>
            </tr>
        </table>
        <div class="row">
            <button class="submit button">Submit</button>
            <a href="/products" class="button">Back</a>
        </div>
    </form>
</body>
</html>