<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Customers</title>
</head>
<body>
    <h1>Customers</h1>
    <div class="row">
        <a href="/customers/add-customer" class="button">Add Customer</a>
        <a href="/customers/increase-customer-credits" class="button">Increase Customer Credits</a>
    </div>
    <div class="row">
        <a href="/customers/remove-customer" class="button">Remove Customer</a>
        <a href="/" class="button">Back</a>
    </div>
</body>
</html>